body {
	background-color: #212121;
	color: white;
}

/*'HeimatSans-ExtraLight', "Helvetica Neue", Helvetica, Verdana, Geneva, Arial, sans-serif;
*/
.navbar-static-top {
	background-color: white;
}

.nav li a{
	color: black;
}

.navbar-brand {
	color: black;
}

.row {
	text-align: center;
}

#cover-picture {
	height: 500px;
}

#welcome-page h2{
	font-weight: lighter;
}

.section-header {
	font-weight: normal;
}

#contact-section {
	color: black;
	background-color: #90A4AE;
}

#hawaii-pic-section {
	background-color: white;
}

#panopic {
	max-width: 100%;
	height: auto;
	opacity: .6;
}