body {
	background-color: #212121;
	color: white;
}

/*'HeimatSans-ExtraLight', "Helvetica Neue", Helvetica, Verdana, Geneva, Arial, sans-serif;
*/
.navbar-static-top {
	background-color: white;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a, .navbar-default .navbar-nav .open .dropdown-menu {
    color: black;
 }

.nav li a{
	color: black;
}

.navbar-brand {
	color: black;
}

.row {
	text-align: center;
}

#welcome-page h1 {
	margin-bottom: 0;
}

#coverpic {
	width: 100%;
	padding-left: 10%;
	padding-right: 10%;
}

#welcome-page h1{
	font-weight: lighter;
}

.section-header {
	font-weight: normal;
}

#contact-section {
	color: black;
	background-color: #90A4AE;
}

#picture-container {
	background-image: url("pictures/haiku_stairs.jpg");
	background-size: 100% 100%;
}

#picture-container-cover {
	top, right, bottom, left: 0;
	background-color: white;
	background: rgba(255,255,255,0.5);
}

#thumbnail {
	width: 20%;
	border: 1px black solid;
}

#thumbnail-description {
	display: inline-block;
	color: black;
	padding: 2%;
}

#description-container {
	display: inline-block;
	height: 100%;
	margin: 10%;
}

#about-link {
	color: black;
	border: solid black 2px;
	display: inline-block;
	padding: 1em;
}

#about-link h3 {
	margin: 0;
}

#project-section {
	background-color: white;
	color: black;
	height: 500px;
}

